*{
    margin: 0;
    padding: 0;
}
.main{
    max-width: 100%;
    background-color: rgb(245, 238, 229);
    background-position: center;
   background-size: cover; 
   height: 100vh ;
   position: relative;
   font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
ul{
    margin-top: -4% ;

}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategrey;
    margin-top: -3%;
    transition: .4s ease;

}
ul li a:hover{
    color: rgb(230, 104, 59);

}
.info{
    margin-left: 7%;
    margin-top: 6%;
}
.info h1{
    font-size: 65px;
    color: rgb(36,32,30);
}
.info h3{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2;
}
.info span{
    color: rgb(230, 104, 59);
}
.info a{
    text-decoration: none;
    color: aliceblue;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
      transition: .4s ease;
}

.info a:hover{
    background: rgb(120, 23, 206);
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom:0;

}
.image img{
    position: absolute;
    height: 120%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
}
 .icons a{
    text-decoration: none;
    color: #000;

 }
.icons ion-icon{
    margin-left: 7%;
    color:#000;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s ease;
}
.icons ion-icon:hover{
    color: rgb(209, 59, 76);
}
.site-footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
table{
    width: 50%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0.1);
}
th{
    background-color: rgb(219, 140, 22);
    color:rgb(19, 108, 186);
    font-weight: bold;
    padding: 20px;
    text-align: left;
}
td{
    border-bottom: 1px solid lightsteelblue;
    padding: 20px;
    text-align: left;
}
tr:hover{
    background-color: aliceblue;
}
.inf h2{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2;
}
.info h2{
    font-size: 65px;
    color: rgb(36,32,30);
}
.inf span{
    color: rgb(230, 104, 59);
}
.dip{
    
   font-size: 70px;


}
.dip a:hover{
background-color: #103b9f;
}
.pee{
    color: #103b9f;
}
.pee a{
    text-decoration: none;
    color: rgb(44, 113, 173);
    background: rgb(149, 62, 18);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
      transition: .4s ease;
}
.pee a:hover{
    background-color: aquamarine;
}
.hover-button {
    padding: 10px 20px;
    background-color: rgb(36, 17, 205);
    color: rgb(219, 24, 24);
    border: none;
    cursor: pointer;
    margin: 20px 0;
}

.hover-button:hover {
    background-color: rgb(229, 146, 30);
    color: rgb(179, 179, 12);
}